<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interactionlab.launcher">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <!--android:launchMode="singleTask">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--If screen pinning is not desirable, uncomment the below two lines to make
                the launcher app default and home, pressing the home button will open it. -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewPage"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>